@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
/*Para el formulario contacto*/
/*Para el formulario contacto*/
body {
  font-family: 'Raleway', sans-serif;
}

.h1 {
  text-align: center;
  color: #667eea7e;
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

.subtitle {
  color: #667eea7e;
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%), url("../multimedia/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.heroContacto {
  height: 25vh;
  background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero .container {
  padding: 0;
}

.heroContacto .container {
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-weight: 700;
}

.nav--footer {
  font-weight: 300;
  justify-content: flex-start;
}

.nav__items {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
}

.nav__items--cta {
  border: 1px solid #fff;
}

.nav__items--footer {
  padding: 10px;
}

.hero__container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff;
}

.hero__texts {
  width: 80%;
  margin-bottom: 50px;
}

.hero__title {
  font-size: 3.2rem;
}

.hero__subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0;
}

.hero__cta {
  display: inline-block;
  background: #fff;
  padding: 20px 40px;
  color: #667eea7e;
  text-decoration: none;
  border-radius: 40px;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/*Para el formulario contacto*/
/*About*/
.presentation {
  text-align: center;
  padding-top: 0;
}

.presentation__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;
}

.presentation__copy {
  width: 80%;
  margin: 0 auto;
}

.presentation__cta {
  display: inline-block;
  margin-top: 30px;
  background: #667eea7e;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 40px;
}

/*Para el formulario contacto*/
/*Grid*/
.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

.about__img {
  text-align: center;
}

.about__img--left {
  text-align: left;
}

.about__picture {
  max-width: 70%;
}

.about__paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

/*Para el formulario contacto*/
/*Projects*/
.projects {
  background: #f2f2f2;
}

.projects__grid {
  display: grid;
  height: 550px;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
  gap: 10px;
}

.projects__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.projects__item:nth-of-type(1) {
  grid-area: img1;
}

.projects__item:nth-of-type(2) {
  grid-area: img2;
}

.projects__item:nth-of-type(3) {
  grid-area: img3;
}

.projects__item:nth-of-type(4) {
  grid-area: img4;
}

.projects__item:nth-of-type(5) {
  grid-area: img5;
}

.projects__hover {
  position: absolute;
  background: #ab93cb9d;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projects__item:hover .projects__hover {
  transform: translateX(0%);
}

.projects__icon {
  margin-top: 10px;
  font-size: 30px;
}

/*Para el formulario contacto*/
/*Testimony*/
.testimony__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.testimony__item {
  width: 95%;
  margin: 0 auto;
  background: #764ba2;
  box-shadow: 0 8px 10px rgba(66, 66, 66, 0.5);
  border-radius: 7px;
  padding: 30px 25px;
  color: #fff;
  margin-bottom: 50px;
}

.testimony_person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.testimony__img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 30px;
}

.testimony__name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimony__verification {
  color: #e0afa0;
  font-weight: 700;
}

.testimony_review {
  font-weight: 300;
}

/*Para el formulario contacto*/
/*Footer*/
.footer {
  background: #667eea7e;
}

.footer__grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer__title {
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: space-evenly;
}

.footer__container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer__icons {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}

.fab.footer__icons {
  line-height: 60px;
}

/*Para el formulario contacto*/
/* Responsive design*/
@media screen and (max-width: 800px) {
  :root {
    --boton-padding: 18px 40px;
  }
  .nav {
    justify-content: space-around;
  }
  .nav__items--cta {
    border: none;
  }
  .nav__items {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
  }
  .nav__items--footer {
    border: none;
  }
  .hero__texts {
    width: 100%;
    margin-bottom: 80px;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__subtitle {
    font-size: 1.5rem;
  }
  /*About*/
  .presentation__copy {
    width: 100%;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about.container {
    padding-top: 30px;
  }
  .about__img--left {
    text-align: center;
  }
  .about__texts:last-child {
    grid-row: 3/4;
  }
  /*Proyectos*/
  .projects__grid {
    grid-template-areas: "img1 img1 img2 img2" "img1 img1 img3 img3" "img4 img4 img5 img5";
  }
  /*Testimony*/
  .testimony__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  /*Footer*/
  .footer__grid {
    grid-template-columns: 1fr;
  }
  .footer__contact {
    grid-row: 1/2;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --boton-padding: 18px 35px;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .nav__items {
    padding: 0 10px;
    border: 0;
  }
  .hero__texts {
    text-align: center;
    margin-bottom: 100px;
  }
  .hero__title {
    font-size: 2rem;
  }
  /*about*/
  .presentation__picture {
    width: 120px;
    height: 120px;
  }
  .about {
    row-gap: 60px;
  }
  .about.container {
    padding-top: 10px;
  }
  /*projects*/
  .projects__grid {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
    height: auto;
    grid-template-rows: repeat(5, 250px);
    grid-auto-rows: 250px;
    /*para cuando hayas filas implicitas*/
    gap: 10px;
  }
  /*testimony*/
  .testimony__item {
    padding: 30px 15px;
  }
  .testimony_person {
    flex-direction: column;
  }
  .testimony__texts {
    text-align: center;
  }
  .testimony__img {
    margin: 0;
    margin-bottom: 20px;
  }
  form {
    width: 80%;
  }
}

/*Para el formulario contacto*/
/*Contacto*/
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formulario {
  font-family: 'Roboto';
  background: #fff;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1Formulario {
  text-align: center;
  color: #667eea7e;
  font-size: 2.5rem;
  margin-bottom: 35px;
}

form {
  background: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form {
  width: 100%;
  margin: auto;
}

form .grupo {
  position: relative;
  margin: 45px;
}

input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #49454567;
}

input:focus {
  outline: none;
  color: #5e5d5d;
}

label {
  color: #49454567;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.3s ease width;
  left: 0;
}

input:focus ~ .barra::before {
  width: 100%;
}

.botonSuscribite {
  background: #764ba2;
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  cursor: pointer;
}

/*Para el formulario contacto*/
/*BLOG*/
.container__card {
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  position: relative;
  margin: 20px;
  transition: all 300ms;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description {
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
}

.card:hover .logo {
  margin-top: -20px;
  border-radius: 20px 20px 0px 0px;
}

.logo {
  width: 100%;
  height: 220px;
  background: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

.logo img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  font-size: 150px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.info__description {
  width: 100%;
  height: 220px;
  color: #49454567;
  background: #f2f2f2;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

.info__description p {
  font-size: 14px;
  margin-top: 10px;
  /*Para esconder texto*/
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}

.info__description a input {
  margin-top: 20px;
  padding: 10px 40px;
  background: #764ba2;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  transition: box-shadow 300ms;
}

.info__description input:hover {
  box-shadow: 1px 1px 30px -5px #20202070;
}

/*COLOR DE LAS CARD*/
.c:hover .logo {
  background: #764ba2;
}
